.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group > table {
    font-size: 40px;
    border-collapse: collapse;
}

.group > table > tr > * {
  border: 1px solid #ddd;
  padding: 8px;
}

.group > table > tr:nth-child(even){background-color: #f2f2f2;}

.group > table > tr:hover {background-color: #ddd;}

.group > table > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}