.pulse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pulse > * {
    margin-bottom: 20px;
}

.pulseline > h2 {
    text-align: center;
}

table {
    border: none;
    text-align: center;
}