.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

.vertical-slider {
  height: 380px;
  width: 100px;
}

.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.example-thumb.active {
  background-color: black;
}

.example-track {
  position: relative;
  background: green;
}

.example-track.example-track-1 {
  background: grey;
}

.example-track.example-track-2 {
  background: #0f0;
}

.example-mark {
  position: absolute;
  width: 8px;
  height: 8px;
  /* border: 2px solid #000; */
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}

.horizontal-slider .example-mark {
  margin: 0 calc(25px - 6px);
  bottom: calc(50% - 6px);
}

.vertical-slider .example-thumb {
  left: 50px;
  width: 200px;
  line-height: 40px;
  height: 20px;
}

.vertical-slider .example-track {
  width: 200px;
  left: 50px;
}

.vertical-slider .example-mark {
  margin: calc(25px - 6px) 0;
  left: calc(50% - 6px);
}
