.menu {
    height: 150px;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
    text-align: center;
    background: linear-gradient(0deg, rgba(93,169,214,1) 0%, rgba(112,208,201,1) 100%);
}

.code {
    height: 70px;
    margin-bottom: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.menu > span {
  margin: 30px;
  color: #000;
  padding: 8px 16px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
}

.menu > span.active {
  background-color: white;
  color: #6ecbcb;
}

.menu > span:hover {
    cursor: pointer;
}

.menu > span:hover:not(.active) {
  border: 3px solid white;
  color: white;
}

.byline {
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: 30px;
  width: 230px;
  text-align: center;
}